@{
    ViewBag.Title = "Email potwierdzony";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>
        Dziękujemy za potwierdzenie maila. Proszę @Html.ActionLink("kliknąć", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }), aby zalogować.
    </p>
</div>
