@{
    ViewBag.Title = "Błąd połączenia";
}

<body style="background-color:#2F3336; color:white;">
    <hgroup>
        <h2>@ViewBag.Title.</h2>
        <h3 class="text-danger">Połączenie konta nie powiodło się.</h3>
    </hgroup>
</body>
