@{
    ViewBag.Title = "Przypomnienie hasła";
}
<body style="background-color:#2F3336; color:white;">
    <hgroup class="title">
        <h1 style="color:white;">@ViewBag.Title</h1>
    </hgroup>
    <div>
        <p>
            Na maila została przesłana instrukcja zmiany hasła.
        </p>
    </div>
</body>

	
