@{
    ViewBag.Title = "Hasło zmienione";
}

<body style="background-color:#2F3336; color:white;">
    <hgroup class="title">
        <h1>@ViewBag.Title</h1>
    </hgroup>
    <div>
        <p>
            Twoje hasło zostało zmienione. Proszę @Html.ActionLink("kliknij", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }), aby zalogować.
        </p>
    </div>
</body>

