@{
    ViewBag.Title = "Hasło zmienione";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Twoje hasło zostało zmienione. Proszę @Html.ActionLink("kliknij", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }), aby zalogować.
    </p>
</div>
