@{
    ViewBag.Title = "About";
}
<body style="background-color:#2F3336;">
    <h2 style="color:white;">@ViewBag.Title.</h2>
    <h3 style="color:white;">@ViewBag.Message</h3>
    <p style="color:white;">Use this area to provide additional information.</p>
</body>
<
