@{
    ViewBag.Title = "Home";
}
<p style="color:white;" class="text-success">@ViewBag.StatusMessage</p>
<body style="background-color:#2F3336;">
    <h1 style="color:white; font-size:30px; text-align:center;">WYPOŻYCZALNIA SAMOCHODÓW</h1>
    <p style="color:white; font-size:18px; text-align:center;">Zapraszamy do skorzystania z naszej oferty. Oferujemy samochody dostawcze jak również osobowe.</p>

</body>


