@model Distance.ViewModels.RandomCarViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body style="background-color:#2F3336; color:white;">

    @{
        var className = Model.Drivers.Count > 0 ? "popular" : null;
    }
    <h2 style="color:white;" class="@className">@Model.Car.Name</h2>

    @if (Model.Drivers.Count == 0)
    {
        <p>Brak kierowcy</p>
    }
    else
    {
        <ul>
            @foreach (var driver in Model.Drivers)
            {
                <li>@driver.Name</li>
            }
        </ul>
    }
</body>

